/* Global CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highsoft-design-tokens/dist/css/tokens';

/* Global Styles */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 16px */
}

:root {
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;

    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;

    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    --fails: #b51717;
    --passes: #0f8548;

    --small-text: 0.875rem;
    --extra-small-text: 0.7em;

    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;

    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--textColor);
    background-color: black;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

.text {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

small {
    font-size: var(--small-text);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Buttons */
/* Alerts */
.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

/* Forms */
.form {
    width: 90vw;
    max-width: var(--fixed-width);
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: var(--grey-400);
}

/* Spinner animation */
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* Title */
.title {
    text-align: center;
}

/* Project-specific styles */
input[type='text'] {
    border-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    max-width: 200px;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
        align-items: center;
    }
}

.colors {
    min-height: calc(100vh - 160px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
}

.color p {
    line-height: 1.5;
    margin-bottom: 0.25rem;
}

.h1 {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.select-container {
    padding: 1, 5rem;
    margin-right: 0;
    margin-left: 0;
    position: relative;
}

.mtb-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.m-2 {
    margin: 2rem;
}

.select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// input[type='color'] {
//     width: 25px;
//     height: 25px;
//     background-color: black;
//     border-radius: 5px;
// }

li {
    display: flex;
    align-items: center;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2rem 1rem 0.7rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.color-box-container {
    display: flex;
    flex-wrap: wrap;
}

.contrast-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.text-under-colorbox {
    font-weight: 700;
    margin: 0;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-contrast-box {
    margin: 2rem 1rem;
    padding: 10px;
    height: 130px;
    border-radius: 10px;
    background-color: #ffffff;
    word-wrap: break-word;
}

.contrast-text {
    text-align: center;
    line-height: 1.5;
}

.small-color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
}

.passes {
    color: var(--passes);
}

.passes-border {
    border: 3px solid var(--passes);
}

.fails {
    color: var(--fails);
}

.fails-border {
    border: 3px solid var(--fails);
}

.hex-color-text {
    margin-left: 10px;
}

.color-pickers {
    margin-bottom: 0.5rem;
    padding: 0.1rem;
    transition: padding 0.3 ease;
}

// input[type='color']::-webkit-color-swatch-wrapper {
//     padding: 0;
// }

.copy {
    border: 1px solid #ced4da;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #000000;
}

.product-style {
    font-weight: bold;
}

.radio-container {
    margin-bottom: 10px;
}

input[type='radio'] {
    margin-right: 10px;
    cursor: pointer;
}

label {
    cursor: pointer;
    font-size: 1rem;
    color: #333;
}

input[type='radio']:focus + label,
input[type='radio']:hover + label {
    color: #007bff;
}

input[type='radio']:checked + label {
    font-weight: bold;
    color: #0056b3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

li {
    padding-bottom: 0.3rem;
}

/* New Design */
.banner {
    display: flex;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 2ch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
}

.inside-banner {
    display: flex;
    padding: 30px 31px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background-color: #f6f8ff;
    backdrop-filter: blur(13.949999809265137px);
}

.toolbar-banner {
    display: flex;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 2ch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
}

.toolbar-inside-banner {
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    padding: 30px 31px;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background-color: #f6f8ff;
    backdrop-filter: blur(13.949999809265137px);
    gap: 20px; /* Add some gap between items */
}

.toolbar-inside-banner h2 {
    font-size: 1.2rem;
    font-weight: 1000;
}

.toolbar-tools {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust gap between label and input */
}

.logo-img {
    display: flex;
    align-items: center;
    gap: 44px;
}

.logo {
    display: flex;
    width: 181px;
    align-items: center;
    gap: 16px;
}

.only-logo {
    display: none;
}

/* After 992px, hide the default logo and show the new one */
@media (max-width: 992px) and (min-width: 768px) {
    .logo {
        display: none;
    }

    .only-logo {
        display: flex;
        width: 35px;
        align-items: center;
        gap: 16px;
    }

    h1 {
        display: none;
    }

}

/** Mobile menu **/

/* Global Styles */
.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Media query for screen sizes between 320px and 767px */
@media (max-width: 767px) {

    label {
        display: none;
    }

    .inside-banner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contrast-select-dropdown,
    .contrast-mode-dropdown,
    .contrast-tabs,
    .contrast-mode-tabs {
        display: none; /* Hide dropdowns and tabs initially */
    }

    .hamburger-icon {
        display: block; /* Show the hamburger icon */
    }

    .dropdown-menu {
        display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: #f6f8ff;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }
    .dropdown-menu div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown-menu label {
        display: flex;
    }

    .dropdown-menu .contrast-select-dropdown,
    .dropdown-menu .contrast-mode-dropdown,
    .dropdown-menu .contrast-tabs,
    .dropdown-menu .contrast-mode-tabs {
        display: block;
    }
}

@media (max-width: 576px) {
    .logo {
        display: none;
    }
    .only-logo {
        display: flex;
        width: 35px;
    }
    h1 {
        display: none;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .dropdown-menu label {
        margin-right: 10px;

    }
}

@media (min-width: 768px) and (max-width: 1349px) {
    .contrast-select-dropdown,
    .contrast-mode-dropdown {
        width: 150px;
    }

    .contrast-tabs,
    .contrast-mode-tabs {
        display: none;
    }
}

/* Larger screen adjustments */
@media screen and (min-width: 1350px) {
    .contrast-select-dropdown,
    .contrast-mode-dropdown {
        display: none;
    }
}

/*********/

.tabs {
    display: flex;
    align-items: flex-start;
    gap: 34px;
}

.contrast-tabs,
.contrast-mode-tabs {
    display: flex;
    height: 38px;
    padding: 4px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #918fa3;
}

.contrast-tabs button,
.contrast-mode-tabs button {
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background-color: transparent; /* Default background color */
    color: black; /* Default text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.contrast-tabs button:hover,
.contrast-mode-tabs button:hover {
    background-color: #757575; /* Hover background color */
    color: white; /* Hover text color */
}

.contrast-tabs button.active,
.contrast-mode-tabs button.active {
    background-color: black; /* Active background color */
    color: white; /* Active text color */
}

label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 2px;
}

.contrast-select-dropdown,
.contrast-mode-dropdown {
    width: 150px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #212529;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-down" viewBox="0 0 24 24"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; /* Change cursor to pointer */
}

.contrast-select-dropdown,
.contrast-mode-dropdown {
    width: 150px;
}

@media screen and (min-width: 1350px) {
    .contrast-select-dropdown,
    .contrast-mode-dropdown {
        display: none;
    }
}

@media screen and (max-width: 1349px) {
    .contrast-tabs,
    .contrast-mode-tabs {
        display: none;
    }
}

.link-and-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    height: 16px;
}

.icon-wrapper svg,
.icon-wrapper .fa-question-circle {
    width: 16px;
    height: 16px;
}

.link-and-logo h1 {
    margin: 0;
    color: #000;
    text-align: center;
    /*font-family: 'IBM Plex Sans Var';*/
    font-size: 20.95px;
    font-style: italic;
    font-weight: 600;
    line-height: 38.949px;
    text-transform: uppercase;
}

.logo-container {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    gap: 10px; /* Adjusts the spacing between the h1 and the svg */
}

.header-container svg {
    width: 26px;
    height: 29px;
}

.contrast-ratio-box-text {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.check-text {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 5px;
}

.contrast-ratio-box-text p {
    padding-right: 5px;
}

/* Neighbors Palette */
.color-bars {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    /*position: relative;*/
}

.all-contrast-label {
    font-size: 14px;
    color: black;
    margin: 0;
}

.contrast-row {
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 8px; 
    margin-bottom: 8px;
}

.contrast-box-full {
    background-color: white;
    margin: 0 auto;
    padding: 5% 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black
}

/* Only for when compare all is selected */
.all {
    width: 200px !important;
    height: 350px !important;
}

.color-bar-outer {
    border-radius: 10px;
    width: 150px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: white;
}

.color-bar-container {
    flex: 0 0 auto;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    position: relative;
}

.droppable-placeholder {
    display: none;
}

.checker {
    background-color: white;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: calc(55% + 75px);
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0.00), 0px 13px 5px 0px rgba(0, 0, 0, 0.01), 0px 7px 4px 0px rgba(0, 0, 0, 0.02), 0px 3px 3px 0px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}

.color-bar-inner {
    display: flex;
    transform: rotate(0deg);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%; /* Ensure it takes full width */
}

.color-bar-inner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    width: 100%; /* Ensure it takes full width */
}

.remove-color {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.close-button {
    width: 20px;
    height: 20px;
}

.contrast-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.contrast-text {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.contrast-text-label {
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: auto;
}

.add-color-bar {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    width: 150px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.add-color-bar:hover {
    background-color: #f0f0f0;
    border-color: #888;
}

.add-color-bar .add-color-bar-button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s;
}

.add-color-bar:hover .add-color-bar-button {
    color: #000 !important;
}

@media screen and (max-width: 600px) {
    .color-bars {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

input[type="color"] {
    border: 1px solid #000; /* Change border color */
    border-radius: 5px; /* Rounded corners */
    width: 20px; /* Set width */
    height: 20px; /* Set height */
    padding: 0;
    cursor: pointer; /* Change cursor to pointer */
}

/* Remove default border and appearance */
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
}

/* Custom border and appearance */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid #000; /* Custom border color */
    border-radius: 5px; /* Rounded corners */
}

input[type="color"]::-moz-color-swatch {
    border: 1px solid #000; /* Custom border color */
    border-radius: 5px; /* Rounded corners */
}

.color-picker-container {
    background-color: white;
    margin: 0 auto;
    padding: 5% 10%;
    width: 100%; /* Take up full width of parent */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Space elements evenly */
    border-radius: 5px;
}

.color-picker-container p {
    color: black;
    font-size: 1rem;
}

.color-picker {
    margin-right: 10px;

}

.toolbar h2 {
    font-size: 1rem;
    font-weight: 700;
}

